<div class="resource-section relations">
  <h3>Link relations</h3>
  <ul>
    <% @relations.each do |rel| %>
      <li class="description-item">
        <%= serialize_relation(rel) %>
      </li>
    <% end %>
  </ul>
</div>
