<h4 class=description-list>
    <strong> <%= object.name %></strong>
    <% value_types.each do |type:, class_name:| %>
        <span class="property-source <%= class_name %>"><%= type %></span>
    <% end %>
</h4>
<p><%= object.doc %></p>
