<div class="container">
  <section class="section headers">
    <h3><%= title %></h3>
    <table class="hal-payload">
      <% headers.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
    <ul>
    <% notes.each do |note| %>
      <li>
        <p><sub><%= note %></sub></p>
      </li>
    <% end %>
    </ul>
  </section>
</div>
