<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shaf API<%= @page_title && " | #{@page_title}" %></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
