<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shaf API<%= @page_title && " | #{@page_title}" %></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="main-container">
      <main>
        <%= yield %>
      </main>
      <%= erb :headers, locals: {title: 'Request headers', headers: request_headers, notes: []} %>
      <%= erb :headers, locals: {title: 'Response headers', headers: response_headers, notes: ["This is an example of a response to a request with Accept: #{response_headers['Content-Type']}. YMMV"]} %>
    </div>
  </body>
</html>
