<% @page_title = "HAL payload" %>
<div class="container">
  <section class="section">
    <h3>Response</h3>
    <div class="hal-payload">
      <%= as_html(serialized) %>
    </div>
  </section>
</div>
