* {
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
}

td {
  min-width: 20em;
}

pre {
  margin: 0;
}

main {
  padding-bottom: 8em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.section {
  width: 50%;
  height: 100%;
}

.headers {
  margin-bottom: 2em;
}

.hal-form {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hal_form--form {
}

.form--input-group {
  margin: 1em;
}

.form--input {
  display: grid;
  justify-content: space-evenly;
}

.form--label {
}

.hal-payload {
  min-height: 100%;
  height: auto;
  overflow: auto;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1em;
  border-radius: 20px;
}

span.boolean {
  color: #0277BD;
}

span.null {
  color: #757575;
}

span.number {
  color: #3F51B5;
}

span.structural {
  color: black;
}

span.string {
  color: #43A047;
}
