<div class="resource-section attributes">
  <h3>Attributes</h3>
  <ul>
    <% serialized_attributes.each do |attribute| %>
      <li class="description-item">
        <%= attribute %>
      </li>
    <% end %>
  </ul>
</div>
