<div class="resource-section media-type-profile">
  <h3>Media type profile</h3>
  <% unless profile_name.empty? %>
    <p><span class="property-source profile"><%= profile_name %></span></p>
  <% end %>
</div>
