<div id="serializer-list" class="serializer list sidebar-content">
  <ul>
    <% @serializers.each do |name:, path:| %>
      <li>
        <a href=<%= path %>><%= name%></a>
      </li>
    <% end %>
</div>
