<div class="sidebar">
  <div class="sidebar-tabs">
    <button class="sidebar-tab-btn<%= ' active' if resource? || index?  %>" onclick="openTab(event, 'serializer-list')">
      Resources
    </button>
    <button class="sidebar-tab-btn<%= ' active' if profile? %>" onclick="openTab(event, 'profile-list')">
      Profiles
    </button>
  </div>
  <div class="sidebar-container">
    <%= yieldall %>
  </div>
</div>
