<div class="header header-sidebar">
  <h2><span><%= sub_title %></span></h2>
</div>
<div class="header header-main">
  <h1><span><%= title %></span></h1>
</div>
<div class="header header-none"></div>
