<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/api-doc.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" charset="utf-8" src="/js/switch_tab.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <%= yieldall %>
    </div>
  </body>
</html>
